h1 {
  font-family: helvetica;
  color: black;
  text-align: center;
  background: linear-gradient(black, gray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}

.header {
  display:flex;
  justify-content: center;
}
