body {
  margin: 0px;
}

h1 {
  font-family: helvetica;
  color: black;
  text-align: center;
  text-shadow: 2px 2px 10px red;
}

h2 {
  font-family: helvetica;
  color: black;
  text-align: center;
  text-shadow: 2px 2px 10px white;
}

.content {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}

.header {
  display:flex;
  background: linear-gradient(#3f567a,#161d28);
  justify-content: center;
  flex-direction: column;
}

.title {
  border: 
}
